<nav class="navbar">
        <h2 class="brand-title">Sport-buddy</h2> 
        <img class="toggle-button" src="Images/Unknown.png" alt="">

        <section class="navbar-links">
            <ul>
                <h2>Filter menu</h2>
                <li class="headerList">Sport</li>
                <li><input type="radio" id="tennis" name="sport"><label for="tennis">Tennis</label></li>
                <li><input type="radio" id="voetbal" name="sport"><label for="voetbal">Voetbal</label></li>
                <li><input type="radio" id="darten" name="sport" checked="checked"><label for="darten">Darten</label></li><br>
                <li class="headerList">Leeftijd</li>
                <li><input type="radio" id="18-30" name="leeftijd" checked="checked"><label for="18-30">18-30</label></li>
                <li><input type="radio" id="31+" name="leeftijd"><label for="31+">31+</label></li>
                <li><input type="radio" id="geen_voorkeur" name="leeftijd"><label for="geen_voorkeur">Geen voorkeur</label></li><br>
                <li class="headerList">Niveau</li>
                <li><input type="radio" id="beginner" name="niveau"><label for="beginner">Beginner</label></li>
                <li><input type="radio" id="gemiddeld" name="niveau"><label for="gemiddeld">Gemiddeld</label></li>
                <li><input type="radio" id="goed" name="niveau" checked="checked"><label for="goed">Goed</label></li>
                <li><input type="radio" id="pro" name="niveau"><label for="pro">Pro</label></li>
            </ul>
        </section>
        
    </nav>