<nav class="navbar">
        <div class="brand-title">Matching App</div>
        <img class="toggle-button" src="Images/Unknown.png" alt="">
        <div class="navbar-links">
            <ul>
                <li>Tennis</li>
                <li>Voetbal</li>
                <li>Darts</li>
            </ul>
        </div>
    </nav>