<html class="loginpagina">
    <section>
        <h1>Sport-buddy</h1>
    </section>
    <img src="Images/logo_solo.png" alt="">
    <div>
        <form action="/" method="POST">
            <label for="username">Gebruikersnaam</label>
            <input type="usernamer" name="username" id="username" required>
            
            <label for="password">Wachtwoord</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form> 
    </div>
    <p>Nog geen account? <a href="/registreren">Registreer hier</a></p>

</html>
    
    