*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: courier new;
    background: rgb(133, 160, 120);
    height: 100%;
}

.navbar{
    position: fixed;
    z-index: 10;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.brand-title{
    font-family: lato, sans-serif;
    font-weight:normal ;
    font-size: 2em;
    margin: .5em;
    color:black;
}

/*Navigatie*/

.navbar-links {
    display: none;
    width: 100%;
}

.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-links ul{
    width: 100%;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
}

.navbar-links li {
    text-align: left;
}

.navbar-links li a {
    padding: .5rem 1rem;
}

.navbar-links.active{
    display: flex;
    flex-direction: column;
}

.toggle-button{
    visibility: hidden;
    position: absolute;
    right: 2em;
    flex-direction: column;
    justify-content: space-between;
    width: 4em;
    height: 4em;
}

.toggle-button.active{
    visibility: visible;
    position: absolute;
    right: 2em;
    flex-direction: column;
    justify-content: space-between;
    width: 4em;
    height: 4em;
}

/* profiel */

.profielfoto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profielfoto img{
    position: relative;
    max-width: 85%;
    top: 5em;
    border-radius: 10%;
}

section:first-of-type p{
    position: relative;
    z-index: 3;
    top: 3em;
    font-size: 1.3em;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2) p:nth-of-type(1){
    position: relative;
    font-size: 1.6em;
    left: 7%;
}

section:nth-of-type(2) p:nth-of-type(2){
    position: relative;
    top: -2.5em;
    left: 7%;
}

article{
    position: relative;
    left: 5%;
    max-width: 90%;
    top: -2em;
    font-size: 1.2em;
}

section:nth-of-type(3) .up{
    position: relative;
    top: -1em;
    left: 70%;
    max-width: 18%;
    border:solid .1em green;
    border-radius: 60%;
    background-color: green;
}

section:nth-of-type(3) .down{
    position: relative;
    top: -1em;
    right: 10%;
    max-width: 18%;
    border:solid .1em red;
    border-radius: 60%;
    background-color:red;
    transform: rotate(180deg);
}

.arrowdown{
    position: relative;
    color:black;
    top: -2em;
    font-size: 3em;
    display: block;
    text-align: center;
}

.arrowdown.active{
    display: none;
}


.headerList{
    font-weight: bold;
    margin: 1em 0em 0em 0em;
}

/* Loginpagina styling*/

.loginpagina img:first-of-type{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginpagina section{
    display: flex;
    justify-content: center;
}

.loginpagina h1{
    font-family:lato, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3em;

}

  .loginpagina input{
    position: relative;
    top: -4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .5em 1em;
    border-radius: 5%;
    border:.1em solid lightgray;
  }

  .loginpagina select{
    position: relative;
    top: -4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .5em 1em;
    border-radius: 5%;
    border:.1em solid lightgray;
  }

.loginpagina label{
    position: relative;
    top: -4em;
    display: block;
    margin: 2em 0em 0em 0em;
    text-align: center;
    font-family: lato, sans-serif;
}

.loginpagina button{
    position: relative;
    top: -2em;
    display: block;
    appearance: none;
    margin-left: auto;
    margin-right: auto;
    color:white;
    background-color: black;
    text-decoration: none;
    font-size: 1.1em;   
    font-family: lato;
}

.loginpagina p{
    position: relative;
    top: -2em;
    display: block;
    text-align: center;
}

.noJsList{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -8em;
}

.noJsList.active{
   display: none;
}

strong{
    text-align: center;
    margin: auto;
    display: block;
    padding: 0em 0em 1em 0em;
}